# Frontend Dev Server Port (Default: 3000)
PORT=3000

# Backend API Endpoint (Default: http://localhost:5000)
VITE_BACKEND_URL=http://localhost:5000

# Main Domain for Subdomain Links
VITE_MAIN_DOMAIN=localhost
